.content-input{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-top: 4em;
}
h1{
    text-align: center;
    margin: 0;
}
.form{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em 2em;
    margin: auto;
    gap: 2em;
    border-radius: 0.6em;
    box-shadow: 0em 0.2em 0.5em #00000060;
}