<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projeto MVP</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}" />
  </head>
  <body>
    <main>
      {% extends 'base.html' %} {% block content %}
      <section class="content-input">
        <h1>Cadastre-se</h1>
        <form class="form" method="post">
          <input
            placeholder="Nome:"
            type="text"
            id="nome"
            name="nome"
            required />

          <input
            placeholder="E-mail:"
            type="email"
            id="email"
            name="email"
            required />

          <select style="width: 105%;" name="usuario" id="usuario">
            <option>Tipo de usuário</option>
            <option value="normal">Usuário normal</option>
            <option value="adm">Adm</option>
          </select>

          <input
            placeholder="Nome Universidade:"
            type="text"
            id="universidade"
            name="universidade"
            required />

          <input
            placeholder="Senha:"
            type="password"
            id="senha"
            name="senha"
            required />

          <button style="background: #28a745" type="submit">Cadastrar</button>
          <div style="display: flex; align-items: center; gap: 0.5em; margin-top: -2em; font-size: 0.8em;">
            <p style="color: var(--gray)">Já tem cadastro?</p>
            <a href="{{ url_for('index') }}">Fazer login!</a>
          </div>
        </form>
      </section>
      {% endblock %}
    </main>
    <footer>
      <p>&copy; 2024 - Projeto MVP</p>
    </footer>
  </body>
</html>
