<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projeto MVP</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    <main>
      {% extends 'base.html' %} {% block content %}
      <section class="content-input">
        <h1>Login</h1>
        <form class="form" method="post" action="/login">
          <input
            placeholder="E-mail:"
            type="email"
            id="email"
            name="email"
            required />

          <input
            placeholder="Senha:"
            type="password"
            id="senha"
            name="senha"
            required />

          <button type="submit">Entrar</button>
          <div style="display: flex; align-items: center; gap: 0.5em; margin-top: -2em; font-size: 0.8em;">
            <p style="color: var(--gray)">Não é cadastrado?</p>
            <a href="{{ url_for('cadastro') }}">Cadastrar!</a>
          </div>
        </form>
      </section>
      {% endblock %}
    </main>
  </body>
</html>
