<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto MVP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
   
    <main>
        {% extends 'base.html' %}

        {% block content %}
        <section class="visualizacao">
            <h1>Visualização de Eventos</h1>
            <ul>
                {% for evento in eventos %}
                <li>
                    <strong>{{ evento['titulo'] }}</strong> - {{ evento['descricao'] }}
                </li>
                {% endfor %}
            </ul>
        </section>
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 - Projeto MVP</p>
    </footer>
</body>
</html>
